body {
    margin: 0;
    background-color: rgb(15, 15, 15);
}

#topDiv{
    background-color: rgb(29, 29, 29);
    padding: calc((2vw + 3vh) / 4);
}

#mTitle {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: calc((2vw + 3vh) / 2);
    color: white;
}

#divs {
    background-color: rgb(255, 255, 255);
    width: 50vw;
}

#cardBox {
    display: flex;
}

#bv {
    margin-top: 2vh;
    font-size: 2vw;
}